/* You can add global styles to this file, and also import other style files */

.fixed-navbar-top{
    padding-top: 5rem;
}


.navbar {
    .username {
        text-decoration: none;
    }
    .profile-picture{
        height:30px;
        width:30px;
        border-radius: 50%;
        margin-right: 8px;
        margin-top: -8px;
        margin-bottom: -5px;

    }
}